**/__pycache__/
*.pyc
*.pc[cod]
*.csv#
.idea/*
**/.DS_Store
**/**/.DS_Store
.DS_Store
**/.swp
**/**/.swp
*.egg-info
*.idea/
.Rproj.user
*.log
*.profile
*.out
*.o
**.ipynb_checkpoints
.ipynb_checkpoints/**
**/pycheron_test
**/pycheron_tutorial
.vscode/
pycheron/coverage_reports/.coverage
pycheron/coverage_reports/.coverage.
pycheron/coverage_reports/htmlconv
*.env
docs/build/
